/* modern normalize перебиває */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* a {
  display: block;
  font-size: 24px;
  margin-top: 20px;
  text-decoration: none;
  color: inherit;
} */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-block: 20px;
  padding-inline: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  width: 150px;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  background-color: burlywood;
}

.button-create {
  width: 400px;
  padding: 20px;
  background-color: chartreuse;
}

.button-clean {
  width: 400px;
  padding: 20px;
  background-color: coral;
}

.title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.item {
  outline: auto;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: beige;
}

.item-info {
  text-align: center;
}

.item-card {
  text-align: center;
}

.item-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 380px;
  height: 120px;
  margin-bottom: 5px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.item-title {
  font-size: 32px;
  text-transform: uppercase;
}
